<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="">
</head>

<body>
<heade>
    <h1>welcome to GIT</h1>
    <section>
        <artic>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem ullam, quis accusantium aut pariatur culpa quaerat qui dolore dolorum sed fugit maxime ipsa, necessitatibus eum esse. Doloremque aliquam incidunt aliquid.</artic>
        <article>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id iusto velit laudantium provident ullam modi impedit sed veniam quis enim odit dicta illo nulla alias aliquam quo, ipsam, blanditiis facere!</article>
    </section>
</heade>
<footer></footer>
</body>
</html>
